[data-md-color-scheme="light"] {
  --md-primary-fg-color: #141E30;

  --md-accent-fg-color: #606c88;

  --md-typeset-a-color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] {
  --md-hue: 260;

  --md-primary-fg-color: #141E30;

  --md-accent-fg-color: #243B55;

  --md-typeset-a-color: var(--md-accent-fg-color);
}

.red_badge {
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #ff5733;
  color: white;
  font-size: 11pt;
}

.right-float {
  float: right;
}
